

---
const anioActual=new Date().getFullYear();
---

<footer>
    <p class="text-purple-900 py-10 border-t-2 border-purple-400/50 bg-gradient-to-r from-purple-400/20 to-orange-200/30 font-capitulos text-center text-lg">© {anioActual}. Fintech Todos los derechos reservados. Developed by Arroz</p>
</footer>