---

---

<section class="relative overflow-hidden h-[500px] bg-black/90">
    <div class="absolute z-10 w-full">
        <img 
        class="w-full h-[900px] rotate-180 filter blur-sm opacity-30"
        src="https://png.pngtree.com/thumb_back/fh260/background/20240522/pngtree-ai-generated-cyber-security-and-data-privacy-lock-symbol-and-protection-image_15692197.jpg" />
    </div>
    
    
    <div class="relative z-50 h-full flex flex-col justify-center items-center">
        <h1 class="mb-7 font-bold font-link text-3xl sm:text-4xl text-center bg-gradient-to-r from-purple-400  to-orange-400 text-transparent bg-clip-text">Sistema de Control de Inventario </br> Automatizado para Almacenes</h1>
        <p class="text-slate-300 text-lg text-center w-[50rem] font-capitulos">Nuestro sistema automatizado utiliza sensores y códigos QR para registrar
            la entrada y salida de productos en tiempo real, eliminando errores humanos y 
            reduciendo el tiempo destinado al inventario manual.</p>
        <div class="mt-7 flex gap-5">
            <button class="bg-gradient-to-r from-purple-400  to-orange-400 p-2">
                <p class="px-2 font-semibold">
                    Descubre más
                </p>
                
            </button>
            <button class="bg-gradient-to-r from-purple-400  to-orange-400 p-0.5">
                <p class="bg-gray-800 h-full w-full p-1.5 text-white px-3">
                   Empieza Hoy
                </p>    
            </button>
            
        </div>
    </div>
    

</section>